@import "../../sass/global";

.places-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  padding: 1em;
  color: $black;
}

.places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  .place {
    width: 80%;
    // height: 13rem;
    padding: 1em 2em;
    border-radius: 0.275rem;
    // border: 1px solid;
    background-color: #242323d4;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    font-size: $font-size-p-sm;
    font-weight: $extra-thin;
    // .placeImage {
    //   width: 100%;
    //   height: auto;
    // }
    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: flex-start;
      align-items: flex-start;
      gap: 0.2em;
    }
  }
}
