@import "../../sass/global";

.googleMap {
  // background-color: $black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  h2 {
    padding: 2em;
    text-align: center;
    font-size: $font-size-h3;
    font-weight: $extra-bold;
    // color: $white;
  }
}

.mapContainer {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  .marker {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 0.5em;
    border-radius: 0.375rem;
    color: $white;
    width: 2em;
    min-height: 3em;
    animation-duration: 0.4s;
    animation-name: reduceSize;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 999;
    img {
      width: 2em;
      height: 2em;
      filter: invert(95%) sepia(18%) saturate(0%) hue-rotate(113deg)
        brightness(110%) contrast(101%);
    }
    span {
      font-size: $font-size-p-xs;
      font-weight: $extra-thin;
      opacity: 0;
      transition: visibility 0.4s, opacity 0.4s linear;
    }
    &:hover {
      z-index: 1000;
      animation-duration: 0.2s;
      animation-name: size;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
    &:hover > span {
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes size {
  0% {
    width: 3em;
    height: 3em;
  }
  100% {
    width: 15em;
  }
}
@keyframes reduceSize {
  0% {
    width: 15em;
  }
  100% {
    width: 3em;
    height: 3em;
  }
}

// .hover {
//   z-index: 200000;
//   animation-duration: 0.4s;
//   animation-name: size;
//   animation-timing-function: ease;
//   animation-fill-mode: forwards;
// }

// @keyframes size {
//   0% {
//     width: 5em;
//     // height: 5em;
//   }
//   100% {
//     width: 15em;
//     // height: 20em;
//   }
// }
